<!DOCTYPE html>
<html lang="en">

<!--Headers-->
{% include 'base/header.html' %}
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<!--Navbar-->
{% include 'base/navbar.html' %}

<div class="app-body">
    <!--Sidebar-->
    {% include 'base/sidebar.html' %}

    <!-- Main content -->
    <main class="main">

        

        <!-- Page contents -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<!--Footer-->
{% include 'base/footer.html' %}

<!--JS-->
{% include 'base/js.html' %}

</body>
</html>
